<div class="row">

<h3>Choose Your Opponent!</h3>

<a href="#" class="button round">Round Button</a>  <!--opponent 1-->

<a href="#" class="button round">Round Button</a>  <!--opponent 1-->

<a href="#" class="button round">Round Button</a>   <!--opponent 1-->

</div>
