<!-- home page -->


<h3> Play Rock Paper Scissors! </h3>
<div class="signin-form">
 <div class= "row">
  <div class= "large-6 small-6 columns">

      <h6> Sign In: </h6>

    <form action='/signin' method="post" name="signin">
      <input type='text' id='username' name='username' placeholder='Enter Username' />
      <input type='password' id='password' name='password' placeholder='Enter Password' />
      <button type='submit' value='Submit' id='signin'> Submit </button>
    </form>
  </div>
 </div>
</div>


<div class="signup-form">
 <div class= "row">
  <div class= "large-6 small-6 columns">

      <h6> Sign Up: </h6>

    <form action='/signup' method="post" name="signup">
      <input type='text' id='username' name='username' placeholder='Enter Username' />
      <input type='password' id='password' name='password' placeholder='Enter Password' />
      <button type='submit' value='Submit' id='signup'> Submit </button>
    </form>
  </div>
 </div>
</div>