<!--HOME PAGE-->

<!--LOGO-->

<div class="logo">
  <img src="images/rpslogo3.jpg"></img>
</div>


<div class="star">
  <img src="images/star.png"> DO YOU WANT A LITTLE TASTE OF THE GLORY? </img> <img src="images/star.png"> </img>
</div>

<!--SIGN IN FORM-->

<div class="test1"></div> <!--these test divs are to center the forms -->

<div class="signin-form">

 <div class= "row">
  <div class= "large-6 columns">

      <h6 class="signin-up-text"> sign in: </h6>

    <form action='/signin' method="post" name="signin">
      <input type='text' id='username' name='username' placeholder='Enter Username' />
      <input type='password' id='password' name='password' placeholder='Enter Password' />
      <button type='submit' value='Submit' id='signin' class="submitform"> SUBMIT </button>
    </form>
  </div>
 </div>
</div>

<!--SIGN UP FORM-->

<div class="signup-form">

 <div class= "row">
  <div class= "large-6 columns">

      <h6 class="signin-up-text"> sign up: </h6>

    <form action='/signup' method="post" name="signup">
      <input type='text' id='username' name='username' placeholder='Enter Username' />
      <input type='password' id='password' name='password' placeholder='Enter Password' />
      <button type='submit' value='Submit' id='signup' class="submitform"> SUBMIT </button>
    </form>
  </div>
 </div>
</div>


<div class="test2"></div>  <!--these test divs are to center the forms -->


