<!--NEW GAME PAGE-->

<!--LOGOS-->
<div class="logo">
  <img src="images/rpswords.jpg"></img>
</div>

<div class="star"><img src="images/scissors.jpg"></img> <img src="images/paper.jpg"></img> <img src="images/rock.jpg"></img></div>

<!--SHOWS GAME MOVES-->

<div class="test1"></div> <!--these test divs are to center the forms -->

<div class="games-moves">
 <div class="test3"> <!--these test divs are to center the forms -->
  <div class= "row">
    <div class= "large-6 columns">

  <div class="row">
    <a href="#" class="button radius"> ROCK </a>
      <br>
    <a href="#" class="button radius"> PAPER </a>
      <br>
    <a href="#" class="button radius"> SCISSORS </a>
    </div>
  </div>

  </div>
 </div>
</div>

<!--OPPONENTS MOVE-->
<div class="opponents-moves">

 <div class= "row">
  <div class= "large-6 columns">
    <p class="opponents-moves-text"> WAITING ... </p>

  </div>
 </div>
</div>


<div class="test2"></div>  <!--these test divs are to center the forms -->

