<!--NEW GAME PAGE-->

<!--LOGOS-->
<div class="logo">
  <img src="images/rpswords.jpg"></img>
</div>

<div class="star"><img src="images/scissors.jpg"></img> <img src="images/paper.jpg"></img> <img src="images/rock.jpg"></img></div>

<!--SHOWS GAME MOVES-->


<h3 class="throwyourmove"> throw your move &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; opponents move </h3>


<div class="test1"></div> <!--these test divs are to center the forms -->


<div class="games-moves">

 <div class="test3"> <!--these test divs are to center the forms -->
  <div class= "row">
    <div class= "large-6 columns">

  <div class="moves1">
    <a href="/summary" class="button radius"> ROCK </a>
  </div>
      <br>
  <div class="moves2">
    <a href="/summary" class="button radius"> PAPER </a>
  </div>
    <br>
  <div class="moves3">
    <a href="/summary" class="button radius"> SCISSORS </a>
  </div>
  </div>

  </div>
 </div>
</div>

<!--OPPONENTS MOVE-->
<div class="opponents-moves">

 <div class= "row">
  <div class= "large-6 columns">
    <p class="opponents-moves-text"> WAITING ... </p>

  </div>
 </div>
</div>


<div class="test2"></div>  <!--these test divs are to center the forms -->


