<div class="row">
<div class="panel callout radius">
  <h2 class="throw"> THROW!!! </h2>
 </div>
</div>

<h4 class="yourmove"> YOUR MOVE </h4>

<div class="row">
<a href="#" class="button round"> ROCK </a>
<br>    
<a href="#" class="button round"> PAPER </a>
<br>
<a href="#" class="button round"> SCISSORS </a>
</div>

<h4 class="oppmove"> OPPONENTS MOVE </h4>
<p> Waiting ... </p>


<h4>Current Rounds</h4>

<div class="row">

<table>
  <thead>
    <tr>
      <th width="200">Table Header</th>
      <th>Table Header</th>
      <th width="150">Table Header</th>
      <th width="150">Table Header</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Content Goes Here</td>
      <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
    </tr>
    <tr>
      <td>Content Goes Here</td>
      <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
    </tr>
    <tr>
      <td>Content Goes Here</td>
      <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
    </tr>
  </tbody>
</table>