
<!--Inserts into Welcome.erb-->
<!--Iterates through opponent list, shows opponents to choose from so a user can select one and then start their game-->


<div id="opponent-id">
  <div class="opponent">

  <h3 class="opponent-text">Choose Your Opponent!</h3>

	<% @opponents.each do |o| %>
		<form action='/rounds' method='post'>
			<input type='hidden' class="button round" value='<%= o['id'] %>' name='opponent_id'>
			<input type='submit' class="button round" value='<%= o['username'] %>'>
		</form>
	<% end %>

 </div>
</div>
