<div class="logo">
  <img src="images/rpswords.jpg"></img>
</div>
 
<div class="star"><img src="images/star.png"></img> <img src="images/star.png"></img> <img src="images/star.png"></img></div>


 <h1 class="welcomename"> <%= @user_login %> WINS! </h1>


<div class="new-game-button">
  <a href="#" class="button alert" onclick="showDiv()"> START NEW GAME </a>
</div>