<!--SUMMARY PAGE-->

<div class="logo">
  <img src="images/rpslogo3.jpg"></img>
</div>

<!--Shows the user who wins-->
 <h1 class="welcomename"><img src="images/star.png"> <%= @current_user['username'] %> WINS! <img src="images/star.png"></h1><br/>


<div class="new-game-button">
  <a href="#" class="button alert" onclick="showDiv()"> START NEW GAME </a>
</div>