
<div class="logo">
  <img src="images/rpswords.jpg"></img>
</div>
 
<div class="star"><img src="images/star.png"></img> <img src="images/star.png"></img> <img src="images/star.png"></img></div>

  <h1 class="welcomename"> Welcome <%= @user_login %>!</h1>

<div class="new-game-button">
  <a href="#" class="button alert" onclick="showDiv()"> START NEW GAME </a>
</div>

<div id="opponent-id">
  <div class="opponent">

  <h3 class="opponent-text">Choose Your Opponent!</h3>

    <a href="#" class="button round">TRICIA</a>  
    <br>
    <a href="#" class="button round">GREG</a> 
    <br>
    <a href="#" class="button round">JESSICA</a>   
    <br>

 </div>
</div>