/*HOME PAGE*/

.throw {
	text-align: center;
}

.signin-form {
	border: 1px solid #9e9e9e;
	border-radius: 15px;
	width: 35%;
    display: inline-block;
	background-color: #9e9e9e;
}

.signup-form {
	border: 1px solid #9e9e9e;
	border-radius: 15px;
    width: 35%;
    display: inline-block;
    background-color: #9e9e9e;
}


.star {
	padding-bottom: 40px;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #ee6c22;
	font-size: 40px;
	text-align: center;
}

.logo {
	text-align: center;
}

.submitform {
	background-color: #01887c;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 5px;
  font-size: 17px;
}

.submitform:hover {
  background-color: #ee6c22;
}

.test1 {
  width: 15%;
  display: inline-block;
}

.test2 {
	width: 15%;
	display: inline-block;
}

.signin-up-text {
	font-family: 'Montserrat', sans-serif;
  color: #383838;
  font-size: 28px;
  font-weight: 700;

}

.hugkiss {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: 400;
  color: #383838;
  text-align: center;
  letter-spacing: 10px;
  text-shadow: 1px 1px #01887c;
}

.hugkiss2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: 400;
  color: #383838;
  text-align: center;
  font-family: 'Bad Script', cursive;
 /* letter-spacing: 5px;*/
}

/*WELCOME PAGE*/

.welcomename {
	text-align: center;
 /* font-family: 'Montserrat', sans-serif;*/
	font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 3px;
	padding-top: 40px;
  color: #383838;
}

.welcomename2 {
  text-align: center;
 /* font-family: 'Montserrat', sans-serif;*/
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 3px;
  color: #01887c;
}

.new-game-button {
	text-align: center;
	padding-top: 40px;
}


.opponent {
	text-align: center;
	background-color: #b6b6b6;
	border-radius: 15px;
	border: 1px solid #b6b6b6;
	width: 35%;
	margin: 0 auto;
	margin-top: 50px;
}

#opponent-id {
	display: none;
}


.opponent-text {
	font-family: 'Open Sans Condensed', sans-serif;
}

.button.round {
  font-family: 'Montserrat', sans-serif;
  background-color: #01887c;
  /*text-align: center;*/
}

.button.alert {
  font-family: 'Montserrat', sans-serif;
  background-color: #ee6c22;
}


/*GAMES PAGE */

.games-moves {
	border: 1px solid #9e9e9e;
	border-radius: 15px;
	width: 35%;
	display: inline-block;
	background-color: #9e9e9e;
	height: 300px;
	margin: 0 auto;
	padding-top: 30px;
}

.opponents-moves {
	border: 1px solid #9e9e9e;
	border-radius: 15px;
	width: 35%;
	display: inline-block;
	background-color: #9e9e9e;
	height: 300px;
	margin: 0 auto;
	padding-top: 30px;
}


.test3 {
	width: 25%;
	/*border: 1px solid red;*/
	/*padding-left: 100px;*/

}

.button.radius {
  font-family: 'Montserrat', sans-serif;
  background-color: #01887c;
  /*text-align: center;*/
}

.opponents-moves-text {
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 2px;
	font-size: 32px;
}

.throwyourmove {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	color: #ee6c22;
}

.moves1 {
  padding-left: 150px;
}

.moves2 {
 padding-left: 145px;
}

.moves3 {
 padding-left: 135px;
}

.active-list {
	border: 1px solid #9e9e9e;
	border-radius: 15px;
    width: 35%;
    background-color: #9e9e9e;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
	height: 200px;
	font-size: 25px;
	padding-top: 20px;
	color: #015049;
}